* {
    margin: 0;
    padding: 0;
}

nav {
    background: black;
    padding: px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    display: flex;
    justify-content:end;
    background-color: rgb(0, 0, 0);
}

nav ul li {
    display:inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display:flex;
    align-items: right;
    background-color: rgb(141, 122, 158);

    font-size: 22px;
    font-weight: 400;
}

nav ul li a:hover {
    background-color: aquamarine;
    border-radius: 5px;
}
nav ul h1 {
    background-color: blue;
}

img.logo {
    float: left;
    border-radius: 5px;
    margin-left: 20px;
}

img.testi {
    max-width: 150px;
    max-height: 150px;
}

h1 {
    color: white;
    float: left;
    border-radius: 5px;
    margin-left: 500px;
    
}


figure.etusivumainos {
    float: center;
}

header {
    height: 100px;
    overflow: hidden; /*Clear the float*/
    padding: 10x 0 0 0;
}