main {
  background-image: url('https://substackcdn.com/image/fetch/$s_!W24M!,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fe0f6dc12-d9b1-4760-8f06-5b4582d76371_1280x720.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
	
header {
	background: #C39739;
}
.main-navigation {
	display:flex;
	align-items:left;
	justify-content:space-between;
	padding:20px 20px;
	
}
nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	position:fixed;
	top:0;
	width:100%;
}
nav ul li{
	float:left;
	margin:auto;
	align-content:center;
}
nav ul li img{
	height:50px;
	width:auto;
	max-width:100%
}
nav ul li a {
	text-decoration:none;
	display:block;
	padding: 14px 14px;
	color:#333;
	font-size:2em;
	text-align:center;
}
.logo img {
	height:50px;
	width:auto;
	max-width:100%
}
.menu {
	list-style:none;
	display:flex;
	gap:0;
	margin:0;
}
.menu a {
	text-decoration:none;
	color:#333;
	font-weight:500;
}
.menu a:hover {
	color:#001;
}
body {
  background-image: url('https://substackcdn.com/image/fetch/$s_!W24M!,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fe0f6dc12-d9b1-4760-8f06-5b4582d76371_1280x720.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}