main{
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-size: 16px;
}
.playfair-display-cool> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat-cool {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;

    display: flex;
    align-items: stretch;
    justify-content: center;

    background-color: transparent;
    background: rgba(56, 55, 55, 0.5);
    z-index: 100%;

    padding: 0 20px;
}



.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}


.brand {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.brand-text {
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo img {
    height: 50px;
    width: auto;
}

.menu {
    display: flex;
    gap: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 400;
}

.nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5em;
    padding: 20px 20px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    text-decoration: none;
    transition: background 0.3s, transform 0.2s;
}
.nav-button:hover {
    transform: translateY(-2px);
    color: #fff;
    background-color: #000000;
}

.homepage{
    text-align: center;
    margin: 0;
    min-height: 100vh;

    background-image: url('https://fivevalleyshampers.com/cdn/shop/articles/tamara-govedarovic-uGT49q3tHbA-unsplash.jpg?v=1762289162&width=1080');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: static;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
}
.HPtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}

.homepage h1 {
    font-family: "Playfair Display", serif;
    font-size: 4vw;
    color: #fff;
    text-shadow: 2px 2px #000000;
}
.homepage h2 {
    font-size: 1.5vw;
    color: orange;
    text-shadow: 2px 2px #000000;
}
.homepage p {
    font-size: 1vw;
    color:#fff;
    text-shadow: 2px 2px #000000;
}

.homepage a {
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 400;
    display: inline-block;
}

.homepage ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1vw;
    max-width: 100%;
}

.homepage ul li {
    display: inline-block;
}

.homepage-buttons {
    display: inline;
    gap: 20px;
    margin-top: 5px;
    background-color: transparent;
    color: white;
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 18px 40px;
    border: 2px solid white;
    width: auto;
    text-align: center;
    margin: 0 20px;
    text-shadow: 2px 2px #000000;
}

.homepage-buttons:hover{
    transform: translateY(-2px);
    color: #fff;
    background-color: #c47815;
    text-decoration: none;
}

.HPlower {
    background: #fff;
    padding: 100px 20%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.footer{
    background-color: #333;
    color: #fff;
    padding: 50px;
    border-top: 1px solid #ededed;
    margin-top: 15px;
    text-align: center;
    clear: both;
    float: none;
    bottom: 0;
    width: 100%;
}
.phone {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
    width: auto;
}
.phone-span {
    white-space: nowrap;
}
.phone img {
    height: 30px;
}

@media (max-width: 800px) {

    .homepage {
        width: 100%;
        background-size: 100%;
        display: flex;
        background-size: auto;
    }
    .homepage h1{
        font-size: 8vw;
    }

    .homepage h2{
        font-size: 4vw;
    }

    .homepage p{
        font-size: 3vw;
    }
    
    .homepage ul{
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
        font-size: 3vw;

    }
    
    .menu {
        padding: 0;
        margin: 0;
        margin-left: 17%;
        gap: 0;
        font-size: 10px;
    }

    .brand-text {
        font-size: 15px;
    }

}
